<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="author" content="Wesley Wang" />
  <meta name="copyright" content="WW Studio" />
  <meta name="url" content="" />
  <meta name="title" content="co-mixing" />
  <meta name="keywords" content="co-mixing, color mixing" />
  <meta name="description" content="a color-mixing tool for my kids." />

  <meta property="og:title" content="co-mixing" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="a color-mixing tool for my kids." />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />

  <title>co-mixing</title>

</head>

<body>
  <div id="root"></div>
</body>

</html>