<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="author" content="Wesley Wang" />
  <meta name="copyright" content="WW Studio" />
  <meta name="url" content="" />
  <meta name="title" content="co-mixing" />
  <meta name="keywords" content="co-mixing, color mixing" />
  <meta name="description" content="a color-mixing tool for my kids." />

  <meta property="og:title" content="co-mixing" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="a color-mixing tool for my kids." />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />

  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/nav.css" />
  <link rel="stylesheet" type="text/css" href="css/color-btn.css" />

  <title>co-mixing</title>

</head>

<body>
  <nav>
    <div class="color-btn" style="background-color: rgb(209, 221, 33);"></div>
    <div class="color-btn" style="background-color: rgb(221, 155, 33);"></div>
    <div class="color-btn" style="background-color: rgb(184, 13, 184);"></div>
    <div class="color-btn" style="background-color: rgb(221, 33, 96);"></div>
    <div class="color-btn" style="background-color: rgb(33, 221, 212);"></div>
    <div class="color-btn" style="background-color: rgb(16, 131, 106);"></div>
    <div class="color-btn" style="background-color: rgb(30, 117, 189);"></div>
    <div class="color-btn" style="background-color: rgb(67, 33, 221);"></div>
    <div class="color-btn" style="background-color: rgb(15, 5, 63);"></div>
    <div class="color-btn" style="background-color: rgb(0, 0, 0);"></div>
    <div class="color-btn" style="background-color: rgb(255, 255, 255);"></div>
  </nav>
</body>

</html>